# Load fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
exec fcitx &

# Load notification daemon
dunst &
# Load terminal daemon
#urxvtd -q -o -f &
# Set wallpaper(s)
nitrogen --restore &
# keys
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 & eval $(gnome-keyring-daemon -s --components=pkcs11,secrets,ssh,gpg) &
